img {
    width: 400px;
}

#pedrito_rotate{
    transform: rotate(45deg);
}

#pedrito_scale{
    transform: scale(0.5);
}

#pedrito_skewX{
    transform: skewX(-15deg);
}

#pedrito_skewY{
    transform: skewY(-15deg);
}

#pedrito_translate {
    transform: translate(300px);
}