article h2{
    color:green;
}

body {
    display: grid;
    grid-template-rows: 2fr 1fr 550px 1fr;
    background-image: url(../img/wallpaperbetter.jpg);
    background-size: cover;
    height: 1000px;
}

header{
    display: grid;
    align-content: center;
    text-align: center;
    background-color: grey;
}

main {
    display: grid;
    grid-template-columns: 14% 86%;
}

p > span {
    background-color: lightblue;
    text-shadow: 1px 1px 1px black;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

li {
    padding-right: 50px;
}

aside {
    margin: 10px;
}

aside > p+div {
    border-radius: 5px;
    background-color: red;
    height: 50px;
}

[type="email"]:valid{
    background-color: lightgreen;
}

[type="email"]:invalid{
    background-color: lightcoral;
}

nav a:hover{
    background-color: white;
    color:black;
}
nav{
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: green;
    top: 0px;
    position: sticky;
}
:root {
    color:white;
}

article {
    margin: 10px;
}

article p::first-letter{
    color:green;
    font-size: 2em;
    font-family: 'Gill Sans';
}

article p::first-line{
    color:magenta;
}

footer {
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: grey;
}