*{
    box-sizing: border-box;
    font-size: 15px;
    margin: 0px;
}

h1{
    text-align: center;
    font-size: 30px;
    color:blueviolet;
}

body{
    display: grid;
    grid-template-rows: 0px 300px 60px 1300px 50px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flotante{
    position: sticky;
    top: 0px;
}
.banner{
    border-top-left-radius: 10px 25px;
    border-bottom-left-radius: 15px 50px;
    border: 1px solid black;
    position: absolute;
    top: 100px;
    right: 0px;
    height: 100px;
    width: 20px;
    background: linear-gradient(orange, white, orange);
}
@keyframes amplia {
    from{
        width: 20px;
    }
    to{
        width: 40px;
    }   
}
.banner:hover {
    animation-name: amplia;
    animation-duration: 0s;
    width: 40px;
}
.banner:hover .oculto{
    display: flex;
}

.oculto{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    top: 30px;
    right: 60px;
    background: black;
    color:white;
    border-radius: 15px;
    text-align: center;
}

.oculto::before{
    content: " ";
    width: 10px;
    height: 10px;
    position:absolute;
    top: 20px;
    right: -5px;
    transform:rotate(-45deg);
    background-color: black;
    z-index: -1;
}
.banner:active{
    background-image: url(../img/cuponDescuento.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    width: 150px;
}

.banner:active .oculto{
    display: none;
}

[alt="cupondescuento"]{
    width: 100px;
}

[alt="logosushito"]{
    width: 300px;
}

@keyframes girar {
    from{
        rotate: 0deg;
        width: 300px;
        opacity: 100%;
    }
    to{
        width: 400px;
        rotate: -10deg;
        opacity: 60%;
    }
    
}

[alt="logosushito"]:hover{
    width: 300px;
    animation-name: girar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

p::first-letter{
    font-size: 15px;
}

ul{
    text-align: center;
}

li{
    padding-right: 50px;
    display: inline;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav a:hover{
    font-size: 22px;
    color: red;
}


.socialvar{
    height: 100px;
    display: grid;
    align-items: baseline;
    grid-template-columns: 50% 50%;
}


.socialvar > p {
    display: flex;
    justify-content: right;
    color: orangered;
}

section{
    margin: 50px 0px 0px 0px;
    display: grid;
    grid-template-rows: 50px 50px 20px;
    align-items:flex-end
}

section:nth-child(odd) p:nth-child(odd){
    text-align: left;
    border-left: 5px solid grey;
    margin-left: 10%;
    padding-left: 50px;
}

section:nth-child(odd) p:nth-child(even){
    text-align: right;
    color: grey; 
}

section:nth-child(even) p:nth-child(even){
    color: grey;
    text-align: left;
}
section:nth-child(even) p:nth-child(odd){
    text-align: right;
    border-right: 5px solid grey;
    margin-right: 10%;
    padding-right: 50px;
}

main > section > div {
    display: flex;
    justify-content: center;
}

hr {
    height: 5px;
    background-color: black;
    width: 25%;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
}

span{
    font-size: 70%;
    vertical-align: bottom;
}

i {
    height: 40px;
    width: 40px;
}

article{
    display:flex;
    margin-top: 20px;
    justify-content: center;
    height: 900px;
    height: 100%;
    align-self: ;
    
}

.cards{
    display: flex;
    justify-content: center;
    flex-direction:column ;
    text-align: center;
    width: 250px;
    height: 400px;
    border: 1px grey solid;
    border-radius: 25px;
    flex-wrap: wrap;
}

img{
    width: 200px;
    height: 300px;
    border: 1px grey solid;
    border-radius: 25px;

}
