*{
    box-sizing: border-box;
    font-size: 20px;
    margin: 0px;
}

h1{
    text-align: center;
    font-size: 30px;
    color:blueviolet;
}

h2{
    margin: 75px;
    text-align: center;
    font-size: 30px;
    color:blueviolet;
}

body{
    display: grid;
    grid-template-rows: auto 220px 60px auto auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flotante{
    position: sticky;
    top: 0px;
    z-index: 2;
}
.banner{
    border-top-left-radius: 10px 25px;
    border-bottom-left-radius: 15px 50px;
    box-shadow: 0px 0px 2px black;
    position: absolute;
    top: 50px;
    right: 0px;
    height: 110px;
    width: 20px;
    background: linear-gradient(orange, white, orange);
}
@keyframes amplia {
    from{
        width: 20px;
    }
    to{
        width: 40px;
    }   
}
.banner:hover {
    animation-name: amplia;
    animation-duration: 0s;
    width: 40px;
}
.banner:hover .oculto{
    display: flex;
}

.oculto{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    top: 30px;
    right: 60px;
    background: black;
    color:white;
    border-radius: 15px;
    text-align: center;
}

.oculto::before{
    content: " ";
    width: 10px;
    height: 10px;
    position:absolute;
    top: 20px;
    right: -5px;
    transform:rotate(-45deg);
    background-color: black;
    z-index: -1;
}
.banner:active{
    background-image: url(../img/cuponDescuento.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 150px;
}

.banner:active .oculto{
    display: none;
}

[alt="cupondescuento"]{
    width: 100px;
}

[alt="logosushito"]{
    width: 300px;
}

@keyframes girar {
    from{
        rotate: 0deg;
        width: 300px;
        opacity: 100%;
    }
    to{
        width: 400px;
        rotate: -10deg;
        opacity: 60%;
    }
    
}

[alt="logosushito"]:hover{
    width: 300px;
    animation-name: girar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

nav{
    position: sticky;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
    z-index: 1;
    border-bottom: 1px solid orangered;
}

p::first-letter{
    font-size: 30px;
}

ul{
    text-align: center;
}

li{
    padding-right: 50px;
    display: inline;
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

nav a:hover{
    font-weight: bold;
}


.socialvar{
    height: 100px;
    display: grid;
    align-items: baseline;
    grid-template-columns: 50% 50%;
}

.socialvar > p {
    display: flex;
    justify-content: right;
    color: orangered;
}

section{
    margin: 50px 0px 0px 0px;
    display: grid;
    align-items:flex-end
}

section:nth-child(odd) p:nth-child(odd){
    text-align: left;
    border-left: 5px solid grey;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 50px;
}

section:nth-child(odd) p:nth-child(even){
    text-align: right;
    color: grey; 
}

section:nth-child(even) p:nth-child(even){
    color: grey;
    text-align: left;
}
section:nth-child(even) p:nth-child(odd){
    text-align: right;
    border-right: 5px solid grey;
    margin-right: 20%;
    margin-left: 20%;
    padding-right: 50px;
}

main > section > div {
    display: flex;
    justify-content: center;
}

hr {
    margin: 20px;
    height: 5px;
    background-color: black;
    width: 25%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    padding: 20px;
}

.footer{
    font-size: 15px;
}

span{
    font-size: 70%;
    vertical-align: bottom;
}

i {
    margin: 10px;
    width: 20px;
    font-size: 35px;
}
@keyframes transparencia {
    from {
        opacity: 100%;
    }
    to {
        opacity: 60%;
    }
}
article{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}

.cards{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    border: 1px grey solid;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 1px 1px 3px grey;
}

.cards img{
    margin: 10px 10px 0px 10px;
    width: 240px;
    height: 320px;
    border: 1px grey solid;
    border-radius: 10px;

}

.cards:hover{
    animation-duration: 0s;
    animation-name: transparencia;
    animation-fill-mode: forwards;
}

.cards p{
    width: 240px;
    margin-bottom: 10px;
}
