body{    
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, 'Courier New';
}
h1{
    font-family:serif;
    color: gray;
    font-size: 40px;
}
h2.index{
    padding-top: 20px;
    font-size: 22px;
    font-style: italic;
    text-align: center;
}
h3.index{
    border-bottom:dotted yellow;
    font-size: 21px;
    font-style: italic;
}
h4.index{
    font-size: 15px;
}
header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 234, 244); 
}
header > img{
    transform: rotate(-20deg);
    width: 150px;
}
header > div{
    width: 600px;
    text-align: right;
}
header > div > p{
    font-size: 10px;
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 67, 87);
}
nav > ul{
    list-style: none;
}
nav > ul > li{
    display: inline;
    padding-left: 10px;
}
nav > ul > li > a{
    color: rgb(226,188,54);
    text-decoration: none;
    font-size: 18px;
    font-family: fantasy;
}
.a_select{
    color: rgb(226,188,54);
    text-decoration: underline;
    font-size: 18px;
    font-family: fantasy;
}
nav > ul > li > a:hover, .a_select:hover{
    background-color:black;
    color:white;
}
.tabla > h2{
    text-align: center;
    padding-top: 20px; 
    font-size: 22px;
}
.prog > h2{
    font-size: 22px;
}
.table{
    text-align: center;
}
.tabla > div{
    margin: 20px auto;
    width: 850px;
}
.tabla > div > p{
    color: white;
    margin: 0px;
    text-align: center;
    background-color: rgb(12, 49, 66);
}
.tabla > div > table{
    margin: auto;
}
tr{
    font-size: 11px;
}
td{
    padding-right: 23px;
    font-size: 11px;
}
tr:nth-child(even){
    background: white;
}
tr:nth-child(odd){
    background: rgb(239, 122, 123);
}
.ultima_linea{
    font-size: 12px;
    text-align: center;
    background-color: rgb(252, 62, 70);
}
th{
    text-align: left;
    background-color: rgb(252, 62, 70);
}
.bg_blanco > div{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_blanco > div > p{
    padding-right: 20px;
    width: 420px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 20px;
}
.avif{
    width: 380px;
}
.bg_azul{
    background-color: rgb(102, 141, 159);
    font-size: 11px;
    line-height: 20px;
}
.bg_azul > ul{
    list-style: none;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}
.bg_azul > ul > li{
    display: inline;
    padding: 0 10px;
    width: 400px;
    font-size: 12px;
}
.bg_azul > ul > li > ul{
    padding: 0;
    list-style: none;
}
.div_eventos{
    text-align: center;
}
.div_eventos > div > p{
    width: 275px;
    height: 20px;
    font-size: 13px;
}
.evento{
    width: 240px;
    height: 120px;
}
div.prog{
    padding: 30px 0;
    margin:auto;
    width: 850px;
}
ul.dias{
    list-style: none;
    padding: 0px;
}
li.dia{
    padding-right: 70px;
    font-size: 20px;
    display: inline-block;
    font-family: fantasy;
}
ol.horas{
    padding: 15px 0px;
    list-style: none;
}
li.hora{
    font-size: 14px;    
    padding: 5px 0px;
    font-family: 'Times New Roman', Times, serif;
}
.negrita{
    font-weight: bold;
}
.ins_taller{
    padding: 0;
    list-style: none;
    display: inline-flex;
}
.ins_taller > li{
    margin: 0 5px;
    width: 250px;
}
input{
    margin: 8px 0;
}
.ins_taller > li > label{
    width: 220px;
    display: inline;
    justify-items: top;
    font-weight: 1;
}
form{
    margin: auto;
    width: 850px;
}
form > div{
    display: flex;
    justify-content: center;
}
fieldset{
    background-color: rgb(205, 234, 244);
    margin-bottom: 30px;
}
div > fieldset{
    width: 800px;
    height: 50px;
}
legend{
    color: white;
    background-color: rgb(20, 67, 87);
    font-size: 18px;
}
button{
    height: 70px;
    background-color:rgb(12, 49, 66);
    color: rgb(226,188,54);
    font-family: fantasy;
    font-size: 40px;
}
button:hover{
    background-color:black;
    color: white;
}
.inscripcion{
    padding: 20px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 10px;
}
footer > p{
    width: 800px;
    text-align: left;
    line-height: 25px;
}