body{    
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, 'Courier New';
}
header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 234, 244); 
}
#logo_congreso{
    transform: rotate(-20deg);
    width: 150px;
}
.titulos{
    width: 550px;
    text-align: right;
}
h1{
    font-family:serif;
    color: gray;
    font-size: 35px;
}
.titulos > p{
    font-size: 10px;
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 67, 87);
}
nav > ul{
    list-style: none;
}
nav > ul > li{
    display: inline;
    padding-left: 10px;
}
nav > ul > li > a{
    color: rgb(226,188,54);
    text-decoration: none;
    font-size: 18px;
    font-family: fantasy;
}
.a_select{
    color: rgb(226,188,54);
    text-decoration: underline;
    font-size: 18px;
    font-family: fantasy;
}
nav > ul > li > a:hover, .a_select:hover{
    background-color:grey;
}
h2.index{
    padding-top: 20px;
    font-size: 22px;
    font-style: italic;
    text-align: center;
}
h2.prog{
    text-align: center; 
}
.tabla > div{
    margin: auto;
    width: 1070px;
}
.tabla > div > p{
    color: white;
    margin: 0px;
    text-align: center;
    background-color: rgb(12, 49, 66);
}
#programa{
    display: flex;
    align-items: center;
    justify-content: center;
}
tr:nth-child(even){
    background: white;
}
tr:nth-child(odd){
    background: rgb(239, 122, 123);
}
#ultima_linea{
    text-align: center;
    background-color: rgb(252, 62, 70);
}
th{
    text-align: left;
    background-color: rgb(252, 62, 70);
}
.bg_blanco > div{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_blanco > div > p{
    padding-right: 20px;
    width: 400px;
    text-align: justify;
    text-justify: inter-word;
}
.avif{
    width: 300px;
}
.bg_azul{
    display: flex;
    justify-content: center;
    background-color: rgb(102, 141, 159);
    font-size: 11px;
    line-height: 25px;
}
.bg_azul > div{
    width: 350px;
    padding: 10px;
}
h3.index{
    border-bottom:dotted yellow;
    font-size: 21px;
    font-style: italic;
}
h4.index{
    font-size: 15px;
}
.div_eventos{
    text-align: center;
}
.div_eventos > div{
    padding-left: 15px;
}
.div_eventos > div > p{
    width: 230px;
    height: 20px;
    font-size: 11px;

}
.evento{
    width: 230px;
    height: 100px;
}
div.prog{
    margin:auto;
    width: 800px;
}
ul.dias{
    list-style: none;
    padding: 0px;
}
li.dia{
    display: inline-block;
    padding-right: 85px;
    font-family: fantasy;
}
ol.horas{
    padding: 0px;
    list-style: none;
}
li.hora{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 0;
}
.negrita{
    font-weight: bold;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 10px;
}
footer > p{
    width: 700px;
    text-align: left;
    line-height: 25px;
}