* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-size: 11px;
}

#logo {
    position: absolute;
    right: 20px;
    width: 70px;
    height: 50px;
}

h1{
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
}

header{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: grey;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 50px;
}

nav{
    background-color: wheat;
    margin-top: 2px;
    text-align: center;
}

nav li{
    display: inline-block;
    padding: 5px 0px 10px 0px;

}

.menu{
    text-decoration-line: none;
    color:black;
    font-weight: bold;
    padding-left: 30px;
}

[href="#Muscaria"], [href="#Lactarius"]{
    color:rgb(144, 107, 153);
}

.centralContent {
    display: flex;
}

aside {
    background-color:lightgreen;
    width: 20%;
    line-height: 20px;
    padding: 40px 0px 0px 30px;
    border-right: 1px solid black;
}

aside ul {
    padding-left: 40px;
}

h2 {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 15px;
}

main{
    width: 80%;
    padding: 0px 0px 100px 20px;
    background-color:rgba(240, 181, 255, 0.847);

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: grey;
    color:white;
    height: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

span {
    font-weight: bold;
}

main img {
    transform: rotate(20deg);
    border-radius: 20px;
    right: 20px;
    position: absolute;
    width: 100px;
}

section {
    padding-top: 10px;
    line-height: 30px;
}

main .seccion1::first-letter {
    color: red;
    font-size: 15px;
    background-color: lightpink;
}

#Lactarius .seccion1::first-line {
    color:red;
}

table {
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

th {
    background-color:green;
    color:white;
    font-size: 10px;
    padding: 0px 20px 0px 20px;
    line-height: 12px;
}

tr:nth-child(odd){
    background-color: lightgreen;
}

tr:nth-child(even){
    background-color: rgb(213, 193, 218);
}

td:first-child{
    font-weight: bold;
}

td {
    font-size: 10px;
    line-height: 12px;
}

.dinero::after{
    content:'€';
}